body{
    font-family: "Technology";
    background-color: $black;
    color: $yellow;
    div.container{
        div.row{

        }
    }
}

$players: 12;

div #player-foul-5{
    color: $red;
}

h1.seconds-counter {
    font-size: 150px;
}

@for $i from 1 through  $players {
    #player-number-#{$i}, #player-foul-#{$i}, #fouler-#{$i} {
        font-size: 30px;
    }
}