body{
    font-family: "Technology";
    background-color: $black;
    color: $yellow;
}

$players: 12;

@for $i from 1 through  $players {
    #player-number-#{$i}, #player-foul-#{$i}, #fouler-#{$i}, #quarter-foul-#{$i} {
        font-size: 30px;
    }
}

@for $i from 1 through 200 {
    .font-size-#{$i} {
        font-size: #{$i}px !important;
    }
}

.lh-1 {
    line-height: 0.8;
}

.font-family-reamster {
    font-family: Remaster;
}