@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: Technology;
    src: url("../fonts/Technology.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: Remaster;
    src: url("../fonts/Remaster.ttf") format("truetype");
    font-style: normal;
}

@import "variables";
@import "custom";